
body {
  background-color: aliceblue;
  font-family: 'Chelsea Market', cursive;
  color: black;
}

#divId {
  font-size: 20px;
  background-image: url('/assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  width: 500px;
  height: 300px;
  border: 50px groove blue;
  border-radius: 10px;
  padding: 20px;
}

.botReply {
  overflow: auto;
}

.reply {
  text-align: right;
}

.reply, .textMessage {
  background-color: white;
  border-radius: 10px;
  opacity: .6;
}

input[type=text] {
  font-size: 30px;
  border-radius: 10px;
  margin-left: 20%;
  border: 20px solid blue;  
}

img {
  position: absolute;
  top: 4%;
  left: 80%;
  width: 100 px;
  height: 100px;
}